/* ------------------------------
------------- RESET -------------
--------------------------------- */

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* ------------------------------
------------- TYPE --------------
--------------------------------- */

html {
-webkit-font-smoothing: antialiased;
height: 100%;
}

.header {
	height: 100%;
}

p {
	font-family: 'Noto Sans', Sans;
	font-size: 28px;
	color: #333333;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 0px;
}

.coding {
	color: #F25749;
	padding-bottom: 100px;
}

.bio {
	padding: 40px 20px 60px 20px;
}

.description {
	color: #F25749;
}

.bye {
	padding: 0px;
	margin: 40px 0 10px 0;
}

p.feet-type {
	font-size: 16px;
	color: #F25749;
	padding: 0px;
}

/*CV*/

.cv-link {
	text-decoration: underline;
	color: #F25749;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.cv-link:hover {
	color: #ffffff;
}

.cv {
	background-color: #333333;
	padding: 0px 20px 40px;
}

/*CV*/

/* ------------------------------
------------ CONTENT ------------
--------------------------------- */


/*	.work-btn {
		text-align: center;
		padding-top: 40px;
	}
*/

a {
	text-decoration: none;
}

.social-links {
	text-align: center;
	padding-top: 40px;
}

.ss-icon {
	color: #333333;
	font-size: 40px;
	padding: 40px 20px 0px 20px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.ss-icon:hover {
	text-decoration: none;
	color: #ffffff;
}

.content a {
	display: inline-block;
}

.btn {
  background-color: transparent;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 4px solid #333333;
  display: block;
  color: #333333;
  font-family:'Noto Sans' sans-serif;
  font-size: 21px;
  font-weight: bold;
  max-width: 400px;
  padding: 10px 55px;
  text-decoration: none;
  margin-top: auto;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  }


.btn:hover {
	background-color: #333333;	
	color: #ffffff;
  }

.content {
	top: 20%;
	text-align: center;
}

.arrow {
	text-align: center;
}


body {
	background-color: #F25749;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

section {
	max-width: 100%;
	padding: 200px 20px;
	text-align: center;
	display: block;
		
}

.face {
	top: 50%;
	padding-bottom: 80px;
	text-align: center;
}

.module {
	background-color: #333333;
}

.module.alt {
	background-color: #4D4D4D;
}

.other{
	padding: 60px 20px;
	background-color: #4D4D4D;
}

.det {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

figure {
	width: 80%; 
	max-width: 426px;
	display: inline-block;
}

figure img {
	width: 100%;
	display: inline-block;
}

.det {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.det:hover{
	opacity: .5;
}

.icon {
	margin: 10px;
}

.footer {
	padding: 10px 10px;
	background-color: #333333;
	text-align: center;
	bottom: 0px;
	position: relative;
	display: block;
	width: 100%;
}

/* ------------------------------
--------- MEDIA QUERIES ---------
--------------------------------- */

@media (min-width: 700px) { 
    .content { width: 700px; margin: 0 auto; } 
}


