* {
  margin: 0; 
  padding: 0; 
  position: relative; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  vertical-align: center;
  background: #262626;
}

/*GRID*/

.one-of-four {
  width: 25%;
  height: 250px;
  background-color: #e7e7e7;
  float: left;
}

.two-of-four {
  width: 50%;
  height: 500px;
  background: #333333;
  text-align: center;
  float: left;
  position: relative;
}

/*GRID*/

.wrap-a {
  width: 100%;
  float: left;
}

.face {
  max-height: 200px;
}

.sites {
  max-height: 300px;
  margin-top: 90px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
}

.sites:hover {
  opacity: .7;
}

.det{
  background-image: url(../images/detroit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.me {
  position: absolute;
  color: #e7e7e7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  background: transparent;
}

.mich {
  background-image: url(../images/mich.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mail {
  background-image: url(../images/mail.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cv {
  background-image: url(../images/grad.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark {
  background-color: #262626;
  color: #e7e7e7;
  text-align: center;
  line-height: 250px;
}

.mid-grey {
  background-color: #515151;
}

.mid-grey-two {
  background-color: #747474;
}

.light-grey {
  /*background-color: #979797;*/
  background-color: #f25749;
}

.bike {
  background-image: url(../images/hockey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
}

.link {
  border-bottom: 1px solid #f25749;
  color: #f25749;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.link:hover {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.full {
  width: 100%;
  background-color: #e6e6e6;
  text-align: center;
  color: #262626;
  font-size: 1.5em;
  padding: 80px 20px;
  display: block;
}

.bio {
  font-size: .7em;
  max-width: 960px;
  margin: 0 auto;
}

.view {
  background-color: #515151;
}

.footer {
  width: 100%;
  font-size: .5em;
  background-color: #e7e7e7;
  color: #262626;
  padding: 20px;
  text-align: center;
}

.social {
  font-size: .5em;
  background-color: #e7e7e7;
  padding: 20px 20px;
}

.ss-icon {
  color: #f25749;
  font-size: 2em;
  padding: 0 .5em;
  text-align: right;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.ss-icon:hover {
  text-decoration: none;
  color: #262626;
}

.title {
  font-size: 1.5em;
}

/*MEDIA QUERIES*/

@media screen and (max-width:900px) {
.two-of-four {
  width: 100%;
  height: 400px;
}

.one-of-four {
  width: 50%;
  height: 200px;
  line-height: 200px;
}

.full {
  font-size: 1em;
  padding: 60px 20px;
}

.social {
  padding: 20px;
}

.sites {
  margin-top: 40px;
}

.ss-icon {
  font-size: 1em;
}/* ------------------------------
------------- RESET -------------
--------------------------------- */

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* ------------------------------
------------- TYPE --------------
--------------------------------- */

html {
-webkit-font-smoothing: antialiased;
height: 100%;
}

.header {
	height: 100%;
}

p {
	font-family: 'Noto Sans', Sans;
	font-size: 28px;
	color: #333333;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 0px;
}

.coding {
	color: #F25749;
	padding-bottom: 100px;
}

.bio {
	padding: 40px 20px 60px 20px;
}

.description {
	color: #F25749;
}

.bye {
	padding: 0px;
	margin: 40px 0 10px 0;
}

p.feet-type {
	font-size: 16px;
	color: #F25749;
	padding: 0px;
}

/*CV*/

.cv-link {
	text-decoration: underline;
	color: #F25749;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.cv-link:hover {
	color: #ffffff;
}

.cv {
	background-color: #333333;
	padding: 0px 20px 40px;
}

/*CV*/

/* ------------------------------
------------ CONTENT ------------
--------------------------------- */


/*	.work-btn {
		text-align: center;
		padding-top: 40px;
	}
*/

a {
	text-decoration: none;
}

.social-links {
	text-align: center;
	padding-top: 40px;
}

.ss-icon {
	color: #333333;
	font-size: 40px;
	padding: 40px 20px 0px 20px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.ss-icon:hover {
	text-decoration: none;
	color: #ffffff;
}

.content a {
	display: inline-block;
}

.btn {
  background-color: transparent;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 4px solid #333333;
  display: block;
  color: #333333;
  font-family:'Noto Sans' sans-serif;
  font-size: 21px;
  font-weight: bold;
  max-width: 400px;
  padding: 10px 55px;
  text-decoration: none;
  margin-top: auto;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  }


.btn:hover {
	background-color: #333333;	
	color: #ffffff;
  }

.content {
	top: 20%;
	text-align: center;
}

.arrow {
	text-align: center;
}


body {
	background-color: #F25749;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

section {
	max-width: 100%;
	padding: 200px 20px;
	text-align: center;
	display: block;
		
}

.face {
	top: 50%;
	padding-bottom: 80px;
	text-align: center;
}

.module {
	background-color: #333333;
}

.module.alt {
	background-color: #4D4D4D;
}

.other{
	padding: 60px 20px;
	background-color: #4D4D4D;
}

.det {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

figure {
	width: 80%; 
	max-width: 426px;
	display: inline-block;
}

figure img {
	width: 100%;
	display: inline-block;
}

.det {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

.det:hover{
	opacity: .5;
}

.icon {
	margin: 10px;
}

.footer {
	padding: 10px 10px;
	background-color: #333333;
	text-align: center;
	bottom: 0px;
	position: relative;
	display: block;
	width: 100%;
}

/* ------------------------------
--------- MEDIA QUERIES ---------
--------------------------------- */

@media (min-width: 700px) { 
    .content { width: 700px; margin: 0 auto; } 
}


