* {
  margin: 0; 
  padding: 0; 
  position: relative; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html, body {
  height: 100%;
  width: 100%;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  vertical-align: center;
  background: #262626;
}

/*GRID*/

.hero {
  height: 450px;
  text-align: center;
  background-image: url(../images/detroit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.one-of-four {
  width: 25%;
  height: 250px;
  background-color: #e7e7e7;
  float: left;
}

.two-of-four {
  width: 50%;
  height: 500px;
  background: #333333;
  text-align: center;
  float: left;
  position: relative;
}

.maeve {
  background-color: #FFF9F0;
  padding: 80px 20px;
  text-align: center;
  color: #0B2C3C;
  font-size: 1.5em;
}

.work {
  background-color: #0B2C3C;
  color: white;
  padding: 80px 20px;
  text-align: center;
  font-size: 1.5em;
}

.work-link {
  color: white;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.work-link:hover {
  color: #22b38b;
}

.maeve-logo {
  max-width: 200px;
}

/*GRID*/

.wrap-a {
  width: 100%;
  float: left;
}

.face {
  max-height: 200px;
}

.sites {
  max-height: 300px;
  margin-top: 90px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
}

.sites:hover {
  opacity: .7;
}

.face {
  max-height: 300px;
  margin-top: 75px;
}

.me {
  position: absolute;
  color: #e7e7e7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  background: transparent;
}

.mail {
  background-image: url(../images/mail.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cv {
  background-image: url(../images/grad.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark {
  background-color: #0B2C3C;
  color: #e7e7e7;
  text-align: center;
  line-height: 250px;
}

.mid-grey {
  background-color: #3C5663;
}

.mid-grey-two {
  background-color: #637882;
}

.light-grey {
  background-color: #91D3ED;
}

a {
  text-decoration: none;
}

.link {
  color: #91D3ED;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.link:hover {
  color: #ffffff;
}

.full {
  width: 100%;
  background-color: #FFF9F0;
  text-align: center;
  color: #0B2C3C;
  font-size: 1.5em;
  padding: 80px 20px;
  display: block;
}

.bio {
  font-size: .7em;
  max-width: 960px;
  line-height: 1.5em;
  margin: 20px auto;
}

.view {
  background-color: #515151;
}

.social {
  font-size: .5em;
  background-color: #91D3ED;
  padding: 20px 20px;
}

.ss-icon {
  color: #0B2C3C;
  font-size: 2em;
  padding: 0 .5em;
  text-align: right;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.ss-icon:hover {
  text-decoration: none;
  color: white;
}

.maeve-link {
  color: #0B2C3C;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.maeve-link:hover {
  color: #91D3ED;
}

.title {
  font-size: 1.5em;
}

/*MEDIA QUERIES*/

@media screen and (max-width:900px) {
.two-of-four {
  width: 100%;
  height: 400px;
}

.one-of-four {
  width: 50%;
  height: 200px;
  line-height: 200px;
}

.full {
  font-size: 1em;
  padding: 60px 20px;
}

.maeve {
  font-size: 1em;
  padding: 60px 20px;
}

.social {
  padding: 20px;
}

.sites {
  margin-top: 40px;
}

.ss-icon {
  font-size: 1em;
}